extends ../layout
block content
    h1 Update
    form(id='frmUpdate', action='/todo/update',method='POST')
        input(type='hidden', name='id', value='#{item.id}')
        input(type='text', name='name', value='#{item.name}').form-control
        input(type='text', name='note', value='#{item.note}').form-control
        button#btnSubmit(class="btn btn-default") submit